<%= turbo_frame_tag dom_id(task) do %>
  <div data-controller="tasks" data-tasks-id-value="<%= task.id %>" data-tasks-completed-value="<%= task.completed %>" style="display: table; background-color: beige; border-style: solid; border-color: black;">
    <input
      type="checkbox"
      <%= "checked" if task.completed %>
      data-action="click->tasks#toggle"
    />
    <h3> <%= task.name %></h3>
    <%= link_to 'Deletar', task_path(task.id), data: { turbo_method: :delete } %>
</div>
<% end %>
